/* global */

body {
max-width: 1000px;
float: inherit;
margin: auto;
background-color: #b80000;
color: black;
font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: adobe-garamond-pro, serif;
    padding: 5px 50px 5px 70px;
    float: center;
    text-align: center;
}

p {
    font-family: adobe-garamond-pro, serif;
    font-size: 1.1em;
    line-height: 1.3em;
    padding: 15px;
}

a {
    font-family: adobe-garamond-pro, serif;
    text-decoration: none;
    color: black;
    padding: 5px 15px 5px 15px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    line-height: 1.3em;
}

nav {
    display: -ms-grid;
    justify-content: left;
    align-items: left;
    padding: 10px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 15px;
}

footer {
    display: inline-block;
    width: 100%;
}

/* home */

main {
    float: left;
    width: 70%;
    display: block;
    min-height: 300px;
}

aside {
    float: right;
    width: 28%;
    display: block;
    min-height: 300px;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.left {
    padding-left: 250px;
    position: static;
    float: left;
    width: 35%;
  }
     
 .right {
     width: 230px;
     float: right;
     background: white;
 }

  
  /* Add a card effect for articles */
.card {
    background-color: white;
    padding: 10px;
    float: none;
    margin-top: 10px;
    padding-left: 10px;
    margin-left: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

/* mobile css */
@media screen and (max-width: 600px) {
    main {
        width: 100%;
    }
    aside {
        width: 100%;
    }
}